.w3-2017-greenery
{color:#fff;background-color:#92B558}
.w3-2017-grenadine
{color:#fff;background-color:#DC4C46}
.w3-2017-tawny-port
{color:#fff;background-color:#672e3b}
.w3-2017-ballet-slipper
{color:#000;background-color:#f3d6e4}
.w3-2017-butterum
{color:#fff;background-color:#c48f65}

.w3-2017-navy-peony,.w3-hover-2017-navy-peony:hover{color:#fff!important;background-color:#002e45!important}
.w3-text-2017-navy-peony,.w3-hover-text-2017-navy-peony:hover{color:#002e45!important}
.w3-border-2017-navy-peony,.w3-border-hover-2017-navy-peony:hover{border-color:#002e45!important}

.w3-2017-neutral-gray,.w3-2017-neutral-grey{color:#fff;background-color:#898e8c}

.w3-2017-shaded-spruce,.w3-hover-2017-shaded-spruce:hover{color:#fff!important;background-color:#005960!important}
.w3-text-2017-shaded-spruce,.w3-hover-text-2017-shaded-spruce:hover{color:#005960!important}
.w3-border-2017-shaded-spruce,.w3-hover-2017-shaded-spruce:hover{border-color:#005960!important}

.w3-2017-golden-lime{color:#fff;background-color:#9c9a40}
.w3-2017-marina
{color:#fff;background-color:#578CA9}
.w3-2017-autumn-maple
{color:#fff;background-color:#d2691e}
.w3-2017-niagara
{color:#fff;background-color:#578CA9}
.w3-2017-primrose-yellow
{color:#000;background-color:#f6d155}

.w3-2017-lapis-blue,.w3-hover-2017-lapis-blue:hover{color:#fff!important;background-color:#004b8d!important}
.w3-text-2017-lapis-blue,.w3-hover-text-2017-lapis-blue:hover{color:#004b8d!important}
.w3-border-2017-lapis-blue,.w3-hover-2017-lapis-blue:hover{border-color:#004b8d!important}

.w3-2017-flame,.w3-hover-2017-flame:hover{color:#fff!important;background-color:#f2552c!important}
.w3-text-2017-flame,.w3-hover-text-2017-flame:hover{color:#f2552c!important}
.w3-border-2017-flame,.w3-hover-2017-flame:hover{border-color:#f2552c!important}

.w3-2017-island-paradise
{color:#000;background-color:#95dee3}
.w3-2017-pale-dogwood
{color:#000;background-color:#edcdc2}

.w3-2017-pink-yarrow,.w3-hover-2017-pink-yarrow:hover{color:#fff!important;background-color:#ce3175!important}
.w3-text-2017-pink-yarrow,.w3-hover-text-2017-pink-yarrow:hover{color:#ce3175!important}
.w3-border-2017-pink-yarrow,.w3-hover-2017-pink-yarrow:hover{border-color:#ce3175!important}

.w3-2017-kale
{color:#fff;background-color:#5a7247}
.w3-2017-hazelnut
{color:#000;background-color:#cfb095}
