.w3-win-phone-lime
{color:#fff;background-color:#a4c400}
.w3-win-phone-green
{color:#fff;background-color:#60a917}
.w3-win-phone-emerald
{color:#fff;background-color:#008a00}
.w3-win-phone-teal
{color:#fff;background-color:#00aba9}
.w3-win-phone-cyan
{color:#fff;background-color:#1ba1e2}
.w3-win-phone-cobalt
{color:#fff;background-color:#0050ef}
.w3-win-phone-indigo
{color:#fff;background-color:#6a00ff}
.w3-win-phone-violet
{color:#fff;background-color:#aa00ff}
.w3-win-phone-pink
{color:#fff;background-color:#f472d0}
.w3-win-phone-magenta
{color:#fff;background-color:#d80073}
.w3-win-phone-crimson
{color:#fff;background-color:#a20025}
.w3-win-phone-red
{color:#fff;background-color:#e51400}
.w3-win-phone-orange
{color:#fff;background-color:#fa6800}
.w3-win-phone-amber
{color:#fff;background-color:#f0a30a}
.w3-win-phone-yellow
{color:#fff;background-color:#e3c800}
.w3-win-phone-brown
{color:#fff;background-color:#825a2c}
.w3-win-phone-olive
{color:#fff;background-color:#6d8764}
.w3-win-phone-steel
{color:#fff;background-color:#647687}
.w3-win-phone-mauve
{color:#fff;background-color:#76608a}
.w3-win-phone-taupe
{color:#fff;background-color:#87794e}