.w3-safety-red
{color:#fff;background-color:#bd1e24}

.w3-safety-orange,.w3-hover-safety-orange:hover{color:#fff!important;background-color:#e97600!important}
.w3-text-safety-orange,.w3-hover-text-safety-orange:hover{color:#e97600!important}
.w3-border-safety-orange,.w3-hover-border-safety-orange:hover{border-color:#e97600!important}

.w3-safety-yellow
{color:#fff;background-color:#f6c700}

.w3-safety-green,.w3-hover-safety-green:hover{color:#fff!important;background-color:#007256!important}
.w3-text-safety-green,.w3-hover-text-safety-green:hover{color:#007256!important}
.w3-border-safety-green,.w3-hover-border-safety-green:hover{border-color:#007256!important}

.w3-safety-blue
{color:#fff;background-color:#0067a7}

.w3-safety-purple
{color:#fff;background-color:#964f8e}
