.w3-highway-brown,.w3-hover-highway-brown:hover{color:#fff!important;background-color:#633517!important}
.w3-text-highway-brown,.w3-hover-text-highway-brown:hover{color:#633517!important}
.w3-border-highway-brown,.w3-hover-border-highway-brown:hover{border-color:#633517!important}

.w3-highway-red,.w3-hover-highway-red:hover{color:#fff!important;background-color:#a6001a!important}
.w3-text-highway-red,.w3-hover-text-highway-red:hover{color:#a6001a!important}
.w3-border-highway-red,.w3-hover-border-highway-red:hover{border-color:#a6001a!important}

.w3-highway-orange,.w3-hover-highway-orange:hover{color:#fff!important;background-color:#e06000!important}
.w3-text-highway-orange,.w3-hover-text-highway-orange:hover{color:#e06000!important}
.w3-border-highway-orange,.w3-hover-border-highway-orange:hover{border-color:#e06000!important}

.w3-highway-schoolbus,.w3-hover-highway-schoolbus:hover{color:#fff!important;background-color:#ee9600!important}
.w3-text-highway-schoolbus,.w3-hover-text-highway-schoolbus:hover{color:#ee9600!important}
.w3-border-highway-schoolbus,.w3-hover-border-highway-schoolbus:hover{border-color:#ee9600!important}

.w3-highway-yellow,.w3-hover-highway-yellow:hover{color:#fff!important;background-color:#ffab00!important}
.w3-text-highway-yellow,.w3-hover-text-highway-yellow:hover{color:#ffab00!important}
.w3-border-highway-yellow,.w3-hover-border-highway-yellow:hover{border-color:#ffab00!important}

.w3-highway-green,.w3-hover-highway-green:hover{color:#fff!important;background-color:#004d33!important}
.w3-text-highway-green,.w3-hover-text-highway-green:hover{color:#004d33!important}
.w3-border-highway-green,.w3-hover-border-highway-green:hover{border-color:#004d33!important}

.w3-highway-blue,.w3-hover-highway-blue:hover{color:#fff!important;background-color:#00477e!important}
.w3-text-highway-blue,.w3-hover-text-highway-blue:hover{color:#00477e!important}
.w3-border-highway-blue,.w3-hover-border-highway-blue:hover{border-color:#00477e!important}