.w3-vivid-pink
{color:#fff;background-color:#ffb5bA}
.w3-vivid-red
{color:#fff;background-color:#be0032}
.w3-vivid-orange
{color:#fff;background-color:#f38400}
.w3-vivid-yellow
{color:#fff;background-color:#f3c300}
.w3-vivid-green
{color:#fff;background-color:#008856}

.w3-vivid-blue,.w3-hover-vivid-blue:hover{color:#fff!important;background-color:#00a1c2!important}
.w3-text-vivid-blue,.w3-hover-text-vivid-blue:hover{color:#00a1c2!important}
.w3-border-vivid-blue,.w3-border-hover-vivid-blue:hover{border-color:#00a1c2!important}

.w3-vivid-black
{color:#fff;background-color:#000}
.w3-vivid-white
{color:#000;background-color:#fff}

.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-yellowish-pink
{color:#fff;background-color:#ffb7a5}
.w3-vivid-reddish-orange
{color:#fff;background-color:#e25822}
.w3-vivid-orange-yellow
{color:#fff;background-color:#f6a600}

.w3-vivid-greenish-yellow,.w3-hover-vivid-greenish-yellow:hover{color:#fff!important;background-color:#dcd300!important}
.w3-text-vivid-greenish-yellow,.w3-hover-text-vivid-greenish-yellow:hover{color:#dcd300!important}
.w3-border-vivid-greenish-yellow,.w3-border-hover-vivid-greenish-yellow:hover{border-color:#dcd300!important}

.w3-vivid-yellow-green
{color:#fff;background-color:#8db600}
.w3-vivid-yellowish-green
{color:#fff;background-color:#27a64c}
.w3-vivid-bluish-green
{color:#fff;background-color:#008882}

.w3-vivid-greenish-blue{color:#fff!important;background-color:#0085a1!important}
.w3-text-vivid-greenish-blue,.w3-hover-text-vivid-greenish-blue:hover{color:#0085a1!important}
.w3-border-vivid-greenish-blue,.w3-border-hover-vivid-greenish-blue:hover{border-color:#0085a1!important}

.w3-vivid-purplish-blue
{color:#fff;background-color:#30267a}
.w3-vivid-reddish-purple
{color:#fff;background-color:#870074}
.w3-vivid-purplish-red
{color:#fff;background-color:#ce4676}
