.fila-base, .fila-centro, .fila-centro-operacion {
	display: none;
	/*visibility: hidden;*/
}
.eliminar, .eliminar-centro, .eliminar-centro-operacion{
	cursor: pointer; color: red;
}
#agregar{
	color: inherit;
}