.fila-insumo, .fila-centro, .fila-centro-operacion, .fila-proyecto {
	display: none;
	/*visibility: hidden;*/
}
.eliminar-insumo, .eliminar-centro, .eliminar-centro-operacion, .eliminar-proyecto{
	cursor: pointer; color: red;
}
#agregar{
	color: green;
}
