.fila-estudios
{
	display: none;
}

.eliminar-estudio 
{
	color: red;
}

#tabla
{
	margin-left: 10px;
	margin-right: 10px;
}

.separate
{
	margin-top: 15px;
}

.selected-menu-filters
{
	background-color: #DCAC34 !important;
	color: white !important;
}


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/sia/public/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}