.border-blue-sia
{
	background-color: #002e45;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/sia/public/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.w3-contrast-color
{
	color: #fff;
	background-color: #EDA33A;
}