.w3-theme-l5 {color:#000 !important; background-color:#e9f8ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#b7e9ff !important}
.w3-theme-l3 {color:#000 !important; background-color:#6ed4ff !important}
.w3-theme-l2 {color:#fff !important; background-color:#26beff !important}
.w3-theme-l1 {color:#fff !important; background-color:#009adc !important}
.w3-theme-d1 {color:#fff !important; background-color:#005d85 !important}
.w3-theme-d2 {color:#fff !important; background-color:#005376 !important}
.w3-theme-d3 {color:#fff !important; background-color:#004868 !important}
.w3-theme-d4 {color:#fff !important; background-color:#003e59 !important}
.w3-theme-d5 {color:#fff !important; background-color:#00344a !important}

.w3-theme-light {color:#000 !important; background-color:#e9f8ff !important}
.w3-theme-dark {color:#fff !important; background-color:#00344a !important}
.w3-theme-action {color:#fff !important; background-color:#00344a !important}

.w3-theme {color:#fff !important; background-color:#006894 !important}
.w3-text-theme {color:#006894 !important}
.w3-border-theme {border-color:#006894 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#006894 !important}
.w3-hover-text-theme {color:#006894 !important}
.w3-hover-border-theme:hover {border-color:#006894 !important}